{
  "singleQuote": true,
  "quoteProps": "as-needed",
  "trailingComma": "none",
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "printWidth": 160,
  "arrowParens": "avoid",
  "bracketSpacing": true,
  "bracketSameLine": true,
  "endOfLine": "auto",
  "singleAttributePerLine": false
}
